$primary: #FF9C72;
$secondary: #7291FF;
$danger: #FF7272;
$success: #77CE7A;

$white: #fff;
$black: #000;
$yellow: #FFCE31;

$grey: #ededed;

$text-dark: #292929;
$text-light-dark: #5E5E5E;

$text-colors: (
        "dark": $text-dark,
        "dark-light": $text-light-dark,
        "light": $white,
        "primary": $primary
);

$icon-colors: (
        "primary": $primary,
        "danger": $danger,
        "yellow": $yellow,
        "black": $black,
        "white": $white
)
