@import "variables/main";

@mixin below-mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin below-tablet {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin below-laptop {
  @media only screen and (max-width: 1279px) {
    @content;
  }
}

@mixin below-desktop {
  @media only screen and (max-width: 1439px) {
    @content;
  }
}

@mixin below-widescreen {
  @media only screen and (min-width: 1440px) {
    @content;
  }
}

@mixin page-content-layout-base {
  max-width: 1800px;

  margin-left:  auto;
  margin-right: auto;
  padding-left: 6rem;
  padding-right: 6rem;

  @include below-mobile {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@mixin page-content-layout-large {
  max-width: 1980px;

  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}


